.mt-lg {
  margin-top: 10em !important; }

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.todo-collection {
  margin: 0 1rem; }

.form {
  max-width: 500px !important;
  margin: 0 auto; }

.errors {
  padding: 1em;
  margin: 2em 0em;
  background: rgba(245, 243, 232, 0.5); }
  .errors > p {
    color: crimson;
    font-weight: bold; }

.nav-wrapper {
  margin: 0 1em; }

.brand-logo {
  margin: auto 1em; }

