.mt-lg {
  margin-top: 10em !important; }

.hidden {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  margin: 0 !important; }

.shown {
  height: auto;
  overflow: auto;
  visibility: visible;
  opacity: 1; }

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.todo-collection {
  margin: 0 1rem; }

.secondary-content {
  margin: 0 15px; }

.delete,
.edit {
  cursor: pointer; }

.delete:hover,
.edit:hover {
  opacity: 0.5; }

.form {
  max-width: 500px !important;
  margin: 0 auto; }

.errors {
  padding: 1em;
  margin: 2em 0em;
  background: rgba(245, 243, 232, 0.5);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .errors > p {
    color: crimson;
    font-weight: bold; }

.nav-wrapper {
  margin: 0 1em; }

.brand-logo {
  margin: auto 1em; }

