<nav>
    <div class="nav-wrapper">
        <div class="brand-logo">MList</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if authenticated %}
                <li><a href="/profile">{{ email }}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>