{% extends "layout/app.twig" %}

{% block title%}
    Material Todo List
{% endblock %}

{% block content %}
    <h2 class="center-align">Material To Do Lists</h2>
    <ul class="todo-collection collection with-header">
        <li class="collection-header"><h4>To Do Items</h4></li>
        <li class="collection-item"><div>Task 1<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Task 2<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Task 3<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Task 4<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
{% endblock %}