{% extends "layout/app.twig" %}

{% block title%}
    Material Todo List - Login
{% endblock %}

{% block content %}
    <h2 class="center-align">Login</h2>
    <form action="/login" method="POST" class="form">
        <div class="field error">
            {% for err in errors %}
                <p>{{ err }}</p>
            {% endfor %}
        </div>
        <div class="field input-field">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Enter Email</label>
        </div>
        <div class="field input-field">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
        </div>
        <div class="field input-field center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>


{% endblock %}